
.product-item {
    margin: 32px auto 48px;
    max-width: 300px;
    text-align: center;
}

.product-image {

    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 16px;
}

.product-name {
    font-weight: bold;
    display: block;
    font-size: 24px;
    color: #61dafb;
}

.product-price {

    display: inline-block;
    margin: 0 auto;
}
