
.navbar {
    background-color: #efefef;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}

.navbar ul {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    list-style: none;
}

.navbar ul li {

    margin: 0 8px;
}

.navbar ul li a {
    color: #333;
    text-decoration: underline;
}
